html {
    scroll-behavior: smooth;
}

.card, .list-group-item {
    background-color: #343a40 !important;
    color: white;
}

.imgzoom {
    overflow: hidden;
}

.imgzoom img{
    transition: transform 0.5s ease ;
} 

.imgzoom:hover img{
    transform: scale(1.3);
}